body {
  font-family: "Orbitron", sans-serif;
  background: #000 url("../images/stars.png");
}

.connect-wallet {
  color: #fff;
}

.img-gif {
  border-radius: 10px;
  width: 100%;
}

.logo {
  margin-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Important part */
.modal-dialog {
  font-family: sans-serif !important;
  overflow-y: initial !important;
}
.modal-body {
  height: 80vh;
  overflow-y: auto;
}

@media only screen and (max-width: 770px) {
  .connect-wallet {
    text-align: center;
  }
}
